# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
#vignettes/*.html
#vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

#AutoReport configuration file
AutoReport/config/*

#AutoReport Data files
AutoReport/questionData/*/
#AutoReport/questionData/*/*.Rdata

#email api json
AutoReport/aacr-webapp-email.json

# sendEmail.R (contains MS Outlook e-mail password)

sendEmail.R

# shiny-server.conf (contains URL's - probably not sensitive but Keven would like it excluded)

shiny-server.conf

